*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    display: flex;
  justify-content: center;
  width: 100%;
  line-height: 1.15;
  align-items: center;
    flex-direction: column;
  gap: 10px;
}
#wrapper{
    width: 100%;
    

}
.back-img{
  background-image: url(./pexels-pixabay-235621.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 600px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

    
#book-part{
    gap: 10px;
    margin-bottom: 20px;
}

#get-pack{
    background-color: #4c3f83;
    display: flex;
    position:absolute;
     left: 40px;
     flex-direction: column;
    padding: 16px 80px 16px 80px; 
    height: 200px;
    justify-content: center;
}
#first-title{
    color: #fff;
}
h4{
    color: #fff;
}

.get-it {
    background-color: #ff5e00;
    width: 170px;
    border-radius: 12px;
    height: 60px;
    color: #fff;
    font-family: Bakbak One;
    
}

.get-it:hover{
    background-color: #283480;
}
#book-part{
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  
}
.title{
    font-size: 30px;
    color: #201547;
    font-weight: bold;
    margin-top: 90px;
    text-align: center;
    
}
#options{
    display: flex;
    color: rgb(94, 91, 91);
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-decoration: none;
}
.icon-circle{
    display: flex;
    background-color:rgb(94, 91, 91);
    color: rgb(161, 77, 234);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    
    flex-direction: column;
   align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.onclick{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
}
.icon-circle:hover{
    color: black;
    background-color: #ff5e00;
}
.fa-solid fa-ticket{
    color: #fff;
    width: 100px;
   
}
.ad{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1ft);
    border: 1px solid black;
    list-style: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    height: 600px;
    
}

    
.img {
    width: 100%;
    height: 200px;
    
    position: relative;
    transition: all 3s ease-in-out;
}



.img:hover{
    opacity: 0.5;

}
.ad-pack{
    display: flex;
    
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
}
p{
    color: #201547;
}
.button-idk{
    margin-top: 10px;
    width: 270px;
    border-radius: 12px;
    height: 60px;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    border-color: #ff5e00;
    color: #ff5e00;
    font-weight: 600;
    float: left;
}
.ad-wrapper{
    margin-bottom: 20px;
}
#p {
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
  }
  body{
	text-align: center;
	background-color:aliceblue;
  font-family: sans-serif;
  font-weight: 100;
}

h1{
  color: #396;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #00BF96;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #00816A;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}
.button{
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff5e00;
    border: none;
    width: 200px;
    height: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 35px;
    color: #fff;
    
}
.button:hover{
    background-color:#283480;
}
#button{
    display: flex;
    justify-content: center;
}
.back-intro{
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top: 30px;
}
.text-sett{
    text-align:center;
    word-wrap:break-word;
    padding-right: 150px;
    padding-left: 150px;
}
.title2{
    font-size: 60px;
    color: #201547;
    font-weight: bold;
    margin-top: 60px;
    text-align: center;

}
